.new-look-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
}

.new-look-title span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #ff7a18, #fcd2b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.new-look-section {
  margin: 70px auto;
  position: relative;
  width: 1000px;
  height: 900px;
}

.device-image2, .device-image1, .device-image3 {
  position: absolute;
}

.device-image2 img, .device-image1 img, .device-image3 img {
  width: 100%; 
  height: auto;
  display: block; 
}

.device-image2 {
  width: 600px; 
  height: auto;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -20%); 
}

.device-image1 {
  width: 400px; 
  height: auto;
  top: 60%; 
  left: 2%; 
  transform: translateY(20%) ; 
  z-index: 1;
}

.device-image3 {
  width: 400px; 
  height: auto;
  top: 60%; 
  right: 2%; 
  transform: translateY(20%); 
  z-index: 1; 
}