.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.apple-logo {
  background-color: rgb(13, 13, 13);
  width: 200px;
  color: white;
  display: flex;
  border-radius: 10px;
} 

.apple-logo img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.review-line {
  text-align: center;
  font-size: 20px;
}

.review-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.set-app-logo {
  background-color: rgb(13, 13, 13);
  width: 200px;
  color: white;
  display: flex;
  border-radius: 10px;
} 

.set-app-logo img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

